<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ edit ? 'Edit' : 'Add' }} room</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="edit" (click)="remove()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="save()" [disabled]="!room.name || room.name.length == 0">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-list [class]="{ fill: !edit}">

      <ion-list-header>
        <ion-label color="secondary">Information</ion-label>
      </ion-list-header>
      
      <ion-item class="ion-margin-bottom">
        <ion-label color="medium" position="stacked">Name</ion-label>
        <ion-input autocomplete="off" type="text" name="name" [(ngModel)]="room.name" required></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label color="medium" position="stacked">Id</ion-label>
        <ion-input autocomplete="off" type="text" name="id" [(ngModel)]="room.id"></ion-input>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-label color="medium" position="stacked">Description</ion-label>
        <ion-input autocomplete="off" type="text" name="description" [(ngModel)]="room.description"></ion-input>
      </ion-item>

    </ion-list>
    <ion-list *ngIf="edit" class="fill">

      <ion-list-header>
        <ion-label color="secondary">Devices</ion-label>
      </ion-list-header>

      <ion-item *ngIf="!room.devices || room.devices.length == 0">
        <ion-label class="ion-text-center">
          No devices yet
        </ion-label>
      </ion-item>
      
      <ion-item *ngFor="let device of room.devices"class="ion-padding-bottom" (click)="showDeviceInfo(device.id)">
        <ion-icon size="large" slot="start" name="hardware-chip-outline"></ion-icon>
        <ion-label>
          <h1>{{ device.DeviceName || device.id }}</h1>
        </ion-label>
      </ion-item>

    </ion-list>
  </form>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="selectDevices()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
