<ion-list>
  <ion-list-header>
    <ion-label color="secondary">Available devices</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let device of devices" class="ion-padding-bottom" (click)="viewDevice(device)">
    <ion-icon size="large" slot="start" name="hardware-chip-outline"></ion-icon>
    <ion-icon size="large" slot="end"
      [color]="device.online ? 'success': 'danger'"
      [name]="device.online ? 'cloud-outline': 'cloud-offline-outline'">
    </ion-icon>
    <ion-label>
      <h1>{{ device.DeviceName || device.id }}</h1>
      <p class="ion-text-wrap" *ngIf="device.FriendlyName">
        {{ device.FriendlyName  }}
      </p>
    </ion-label>
  </ion-item>
</ion-list>
