span.temperature-unit {
    font-size: 20px;
}

span.humidity-unit {
    font-size: 20px;
}

h1.temperature {
    // font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 38px;
}

h1.humidity {
    font-size: 38px;
}

p.last-update {
    font-size: 11px;
}