<ion-content color="dark">
  <ion-grid class="fullheight">
    <ion-row class="fullheight-row text-align-center">
      <br/>
      <img src="assets/images/logo.png" alt="Tasmota logo" class="logo" />
      <h1>Tasmota</h1>
      <br/>
      <br/>
      <h2>Sign in</h2>
      <ion-button expand="block" share="round" color="tertiary" (click)="loginWithMikrobot()" >
        <ion-icon src="assets/icon/mikrobot.svg"></ion-icon>
        &nbsp; Mikrobot account
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
