<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select room devices</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>

    <ion-item *ngIf="!devices || devices.length == 0">
      <ion-label class="ion-text-center">
        Loading...
      </ion-label>
    </ion-item>

    <ion-list-header *ngIf="devices && devices.length > 0">
      <ion-label color="secondary">Available devices</ion-label>
    </ion-list-header>
    
    <ion-item *ngFor="let device of devices"class="ion-padding-bottom">
      <ion-icon size="large" slot="start" name="hardware-chip-outline"></ion-icon>
      <ion-label>
        <h1>{{ device.DeviceName || device.id }}</h1>
      </ion-label>
      <ion-toggle [(ngModel)]="device.selected" [color]="device.selected ? 'secondary' : 'light'"></ion-toggle>
    </ion-item>

  </ion-list>
</ion-content>
