<ion-list>
  <ion-list-header>Actions</ion-list-header>
  <ion-item button (click)="actionWidgetsHandler()">
    <ion-icon size="medium" slot="start" name="grid-outline"></ion-icon>
    <ion-label>
      <h2>Widgets</h2>
    </ion-label>
  </ion-item>

  <ion-item button (click)="actionInformationHandler()">
    <ion-icon size="medium" slot="start" name="information-outline"></ion-icon>
    <ion-label>
      <h2>Information</h2>
    </ion-label>
  </ion-item>

  <ion-item button (click)="actionConfigurationHandler()">
    <ion-icon size="medium" slot="start" name="settings-outline"></ion-icon>
    <ion-label>
      <h2>Configuration</h2>
    </ion-label>
  </ion-item>

  <ion-item button (click)="actionFirmwareUpgradeHandler()">
    <ion-icon size="medium" slot="start" name="cloud-upload-outline"></ion-icon>
    <ion-label>
      <h2>Firmware upgrade</h2>
    </ion-label>
  </ion-item>

  <ion-item button (click)="actionRestartHandler()">
    <ion-icon size="medium" slot="start" name="reload-outline"></ion-icon>
    <ion-label>
      <h2>Restart</h2>
    </ion-label>
  </ion-item>

  <ion-item lines="none" detail="false" button (click)="dismissPopover('close')">
    <ion-icon size="medium" slot="start" name="close-outline"></ion-icon>
    <ion-label>
      <h2>Close</h2>
    </ion-label>
  </ion-item>
</ion-list>
