<ion-card>
  <ion-grid *ngIf="power" (click)="toggle()">
    <ion-row>
      <ion-col class="ion-align-self-start">
        <ion-item lines="none" class="text-align-left">
          <ion-icon name="power-outline"
            size="large"
            [color]="power.switch ? 'success': 'danger'">
          </ion-icon>
        </ion-item>
      </ion-col>
      <ion-col class="ion-align-self-end text-align-right">
        <ion-item lines="none" class="text-align-right">
          <ion-icon name="bulb-outline"
            size="medium"
            [color]="power.on ? 'warning': 'medium'">
          </ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-self-start">
        <ion-item class="text-align-left" lines="none">
          <h3>{{ power.name }}</h3>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="options && options.roomName">
      <ion-col class="ion-align-self-end">
        <ion-item class="text-align-right" lines="none">
          <p>{{ options.roomName }}</p>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>