<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Firmware upgrade</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="upgrade()" [disabled]="!upgradeByUrlEnabled || !upgradeByFileEnabled">
        <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label color="secondary">Upgrade using URL</ion-label>
    </ion-list-header>
    <ion-item class="ion-margin-bottom">
      <ion-label color="medium" position="stacked">URL</ion-label>
      <ion-input type="url" [(ngModel)]="url"></ion-input>
    </ion-item>
    <ion-list-header>
      <ion-label color="secondary">Upgrade using file</ion-label>
    </ion-list-header>
    <ion-item class="ion-margin-bottom">
      <ion-label color="medium" position="stacked">Minimal firmware</ion-label>
      <ion-input type="file" [(ngModel)]="minimal"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label color="medium" position="stacked">Firmware</ion-label>
      <ion-input type="file" [(ngModel)]="firmware"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
