<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Firmware upgrade</ion-title>
    <!--ion-buttons slot="end">
      <ion-button (click)="upgrade()">
        <ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
      </ion-button>
    </ion-buttons-->
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label color="secondary">Upgrade using URL</ion-label>
    </ion-list-header>
    <ion-item class="ion-margin-bottom">
      <ion-label color="medium" position="stacked">URL</ion-label>
      <ion-input type="url" [(ngModel)]="url"></ion-input>
    </ion-item>
    <ion-button size="large" expand="block" (click)="upgradeByUrl()"
        class="ion-margin"
        [disabled]="!url || url.length == 0">Start</ion-button>
    
    <ion-list-header>
      <ion-label color="secondary">Upgrade using file</ion-label>
    </ion-list-header>
    <ion-item class="ion-margin-bottom">
      <ion-label color="medium" position="stacked">Minimal firmware</ion-label>
      <ion-input type="file" [(ngModel)]="minimal"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-label color="medium" position="stacked">Firmware</ion-label>
      <ion-input type="file" [(ngModel)]="firmware"></ion-input>
    </ion-item>
    <ion-button size="large" expand="block" (click)="upgradeByFile()"
        class="ion-margin"
        [disabled]="(!minimal || minimal.length == 0)&&(!firmware || firmware.length == 0)">Start</ion-button>

  </ion-list>
</ion-content>
